<div class="pl-14 pr-14 pb-10">
  <div class="pt-12 pb-12">
    <img src="assets/icon-suvs.svg" alt="icon-suvs-logo" class="">
  </div>
  <div class="pb-7">
    <span class="text-4xl uppercase font-BigShoulders font-bold text-Light-withe">
      SUVs
    </span>
  </div>
  <p class="text-sm font-Lexend leading-loose text-Transparent-white pb-7">
    Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation
    and off-road adventures.
  </p>
  <shared-button class="bg-Light-gray text-Dark-cyan h-12 w-32 font-Lexend border-none rounded-full flex items-center justify-center hover:bg-Dark-cyan hover:text-white hover:border-solid hover:border border-white"></shared-button>
</div>
